/* ? Estilos base  (reset y body) */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
}