/* ? Estilos de la seccion de filtrado */

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.filters {
    display: flex;
    gap: 10px;

    @media (max-width: 768px) {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
}

/* Botones modales y de filtro */
.btn-modal,
.filter-btn {
    padding: 8px 15px;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    cursor: pointer;
    color: var(--text-color);
    transition: all 0.3s;

    &:hover {
        background-color: var(--hover-color);
    }
}

.btn-modal,
.filter-btn.active {
    background-color: var(--accent-color);
    color: white;
    border-color: var(--accent-color);
}