/* ? Estilos del componente contenedor de episodios */
.episode-list {
    margin-left: 1.2em;
    margin-top: 5px;
    padding-left: 0.5em;
    border-left: 2px solid var(--border-color);

    @media (min-width: 768px) {
        margin-left: 25px;
        padding-left: 15px;
        border-width: 3px;
    }
}

.check-item {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;

    /* Estilos del checkbox */
    & input[type="checkbox"] {
        margin-right: 0.7em;
        margin-top: 7px;
        accent-color: var(--accent-color);

        &:focus {
            outline: 2px solid var(--accent-color);
            outline-offset: 2px;
        }
    }

    /* Estilos del label (datos del episodio) */
    & label {
        flex: 1;
        cursor: pointer;
    }
}

.episode-number {
    display: inline;
    font-weight: bold;
    margin-right: 0.5em;
    color: var(--accent-color);

    & span{
        display: none;
        @media (min-width: 768px) {
            display: inline;
        }
    }
}