/* ? Estilos del componente contenedor de episodios */

.checklist {
    padding: 10px 15px 10px 30px;
}

.episode-list {
    margin-left: 25px;
    margin-top: 5px;
    padding-left: 15px;
    border-left: 2px solid var(--border-color);
}

.check-item {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;

    /* Estilos del checkbox */
    & input[type="checkbox"] {
        margin-right: 0.7em;
        margin-top: 7px;
        accent-color: var(--accent-color);

        &:focus {
            outline: 2px solid var(--accent-color);
            outline-offset: 2px;
        }
    }

    /* Estilos del label (datos del episodio) */
    & label {
        flex: 1;
        cursor: pointer;
    }
}


.episode-number {
    font-weight: bold;
    margin-right: 5px;
    color: var(--accent-color);
}